static/js/madagascar_district1.json
static/js/madagascar_region1.json
static/js/result_avana.json
static/js/out_inscrits.csv
static/js/result_avana.json
static/js/result_hvm.json
static/js/result_inscrits.json
static/js/results.json
